!!!
%html
  %head
    %title Coloured Balls Exercise
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
  %body{ class: "#{params[:controller].gsub('/', '-')}" }
    = yield
    -# %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
    -#   var string = "#{(j (yield :scripts))}";
    -#   eval(string);
